*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-tracks: center;
    align-items: center;
    background: purple(25,12,41);
}
.slider{
    position: relative;
    width: 60%;
    overflow: hidden;
}
.images{
    display: flex;
    width: 100px;
}
.images img{
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}


--------dausrulebeli--------